body {
    --ag-font-family: Charter, serif;
}

.avoid-attach {
    margin-left: 6px;
}

h1 {
    font-weight: 700;
}

table.data-table td {
    border-bottom: none;
}

.bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

p.ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10%;
}
